<h1>Login</h1>

<form id='formLogin'>

  <input type='text' required placeholder='email' id='email' />
  <input type='password' required placeholder='password' id='password' />

  <button type='submit'>Login</button>
  <a href='/api/session/github'> ENTRAR CON GITHUB </a>
</form>

<script src='/login.js'></script>