<h1>REGISTRAR</h1>

<form id='formRegister'>

  <input type='text' required placeholder='firstName' id='firstName' />
  <input type='text' required placeholder='lastName' id='lastName' />
  <input type='text' required placeholder='age' id='age' />
  <input type='text' required placeholder='email' id='email' />
  <input type='password' required placeholder='password' id='password' />

  <button type='submit'>Registrar</button>
</form>

<script src='/register.js'></script>