<div>
  <h1>OLVIDE MI CONTRASEÑA</h1>
  <form id='form'>
    <input id='email' type='email' placeholder='ingresa tu email' />
    <input
      id='password'
      type='password'
      placeholder='ingresa tu nueva contraseña'
    />
    <button type='submit'>Cambiar contraseña</button>
  </form>
</div>

<script src='/forgot-password.js'></script>